.colorscheme-light .avatar img {
    border-color: #2A2A2A;   
    border-width: 4px;
    border-style: solid;    
    padding: 5px; 
}

.colorscheme-dark .avatar img {
    border-color: #fAfAfA;   
    border-width: 4px;
    border-style: solid;    
    padding: 5px; 
}

.about h2 {
    font-size: 1em !important;
}